<a href="https://colab.research.google.com/github/omr0317/NLP_2024/blob/main/1_dataseries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### **Before we get into conducting statistics, we will learn basic data analysis using Pandas library.**

👀 🐾 <font color = 'red'> **Index, Series, Element(원소)**

🍀 Using indexes effectively makes it easy to search, sort, select, and combine data.
  
    인덱스를 잘 활용하면 데이터값의 탐색, 정렬, 선택, 결합 등 데이터 조작을 쉽게 할 수 있다.


|Index Name/label 인덱스이름(optional)| i0 | i1 | i2 | i3 | ... | in |
|:|-|-|-|-|-|-|
|Index Value 데이터값(원소) | V0 | V1 | V2 | V3 | ... | Vn |
|Integer position 정수형위치인덱스(default)|0|1|2|3|...|n|

<font color = 'blue'>👀 🐾 Exercise**

|Index Name/label | a | b | c | d | e | f |
|:|-|-|-|-|-|-|
|Index Value | 10 | 20 | 30 | 40 | 50 | 60 |
|Integer position|0|1|2|3|4|5|



Series['c'] ➡️  30

Series["c"] ➡️  30

Series[2] ➡️  30

Series[['d'],['e']] ➡️  40, 50

Series[[3,4]] ➡️  40, 50
* 여러개의 인덱스를 리스트 형태로 입력할 때에는 대괄호 ([]) 안에 넣기

Series['d':'e'] ➡️  40, 50

Series[3:5] ➡️  40, 50

In [ ]:
#@markdown <font color = 'red'> **🐹 Student Activity 1 [list data] ⤵️**
!pip install pandas
import pandas as pd
list_data = ['2025-01-01', 3.14, 'ABC', 100, True]
sr = pd.Series(list_data)
print(sr)

Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
0    2025-01-01
1          3.14
2           ABC
3           100
4          True
dtype: object

In [ ]:
from re import L
import pandas as pd
list_data = ['2025-01-01' , 3.14 , 'ABC' , 100 , True]
sr = pd.Series(list.Data)
print(sr)

AttributeError: type object 'list' has no attribute 'Data'

#### **dtype: object**

- Pandas에서 dtype: object는 주로 문자열(텍스트) 데이터를 저장할 때 사용
- 다양한 데이터 유형(문자, 숫자, 불리언 등)이 혼합된 경우에도 자동 적용
- ➡️ 문자열(텍스트) 또는 다양한 데이터 타입을 포함할 수 있는 일반 객체 타입
- 예제에서 리스트에 문자열, 숫자, 실수, 불리언 값이 섞여 있어서 object로 지정

In [ ]:
import pandas as pd
dict_data = {'a':1, 'b':2, 'c':3}
sr = pd.Series(dict_data)
print(sr)
print('\n')
print(type(sr))

a    1
b    2
c    3
dtype: int64


<class 'pandas.core.series.Series'>

In [ ]:
#@markdown <font color = 'red'> **🐹 Student Activity 2 {dictionary data} ⤵️**

import pandas as pd
dict_data = {'a':1, 'b':2, 'c':3}

sr = pd.Series(dict_data)

print(sr) #시리즈 클래스. 시리즈는 데이터가 순차적으로 나열된 1차원 배열
print('\n')
print(type(sr)) #dtype: int64 (정수형)

a    1
b    2
c    3
dtype: int64


<class 'pandas.core.series.Series'>

🍀 pd.Series() is a class in Pandas, not just a function. It creates a one-dimensional labeled array capable of holding any data type (integers, floats, strings, Python objects, etc.).

    Series() is a constructor for creating a Series object (i.e., a one-dimensional labeled array).


##<font color = 'red'> **pandas.Series() with two arguments separated by a comma**
  * argument1 -> variable name
  * argument 2 -> index name

   👀 🐾 **list data or tuple data with [Index values separated by a comma]**

In [ ]:
#@markdown <font color = 'red'> **🐹 Student Activity 3 (tuple data) ⤵️**
import pandas as pd
tuple_data = ('Emma', '2000.12.25', 'Female', True)
sr = pd.Series(tuple_data, index=['Name', 'DOB', 'Gender', 'Student'])
print(sr)
print('\n')
print(sr[0])
print('\n')
print(sr['Name'])

Name             Emma
DOB        2000.12.25
Gender         Female
Student          True
dtype: object


Emma


Emma

<ipython-input-14-d79a0f6b323c>:7: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(sr[0])

👀 🐾 **Print part of list data**
* print([]) 대괄호 사용
* use additional [ ] for an embedded list

In [ ]:
tuple_data = ('Emma', '2000.12.25', 'Female', True)
sr = pd.Series(tuple_data, index=['Name', 'DOB', 'Gender', 'Student'])
print(sr)
print('\n')
print(sr[0, 1])
print(sr(['Name'])

SyntaxError: incomplete input (<ipython-input-22-4dda0060c72a>, line 6)

In [ ]:
#@markdown <font color = 'red'> **🐹 Student Activity 4 ⤵️**

#@markdown <font color = 'red'> **Print part of [list data]**

import pandas as pd
tuple_data = ('Emma', '2000.12.25', 'Female', True)

 #정수형 위치 인덱스 대신 인덱스 이름을 따로 지정
sr = pd.Series(tuple_data, index=['Name', 'DOB', 'Gender', 'Student'])

print(sr[[1,2]])
print('\n')
print(sr[['DOB','Gender']])

DOB       2000.12.25
Gender        Female
dtype: object


DOB       2000.12.25
Gender        Female
dtype: object

<ipython-input-15-aa80936a9123>:11: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(sr[[1,2]])

#⚽ ⚽ ⚽ Do it yourself!

Q: Write a script to print first element and third element with the same tuple_data above.

In [ ]:
#@markdown <font color = 'red'> **🐹 Answer ⤴️**

import pandas as pd
tuple_data = ('Emma', '2000.12.25', 'Female', True)

 #정수형 위치 인덱스 대신 인덱스 이름을 따로 지정
sr = pd.Series(tuple_data, index=['Name', 'DOB', 'Gender', 'Student'])

print(sr[[0,2]])
print('\n')
print(sr[['Name','Gender']])

Name        Emma
Gender    Female
dtype: object


Name        Emma
Gender    Female
dtype: object

<ipython-input-18-159ee421fd73>:9: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(sr[[0,2]])